body{
	width: 100%;
	margin: 0;
	padding: 0;
}


/* CONTAINER */

.container{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	justify-content: space-around;
}

/* CONTAINER */

/* MAIN */

.main{
	width: 100%;
	max-width: 470px;
	display: flex;
	flex-flow: column wrap;
	margin: 5px;
	order: 1;
}

.main h1{
	color: #4E5150;
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 600;
	margin: 2px ;
}

.main h2{
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 600;
	color: #333333;
	margin: 3px;
}

.main > form{
	display: flex;
	flex-flow: column wrap;
	margin: 5px;
}

.main label{
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	color: #4F4F4F;
	margin: 15px 0px 10px 0px;
}

.main form div input[type="image"]{
	cursor: default;
}

/* MAIN */

.inputs-container{
	display:flex;
	align-content: center;
	border:1px solid #828282;
	padding: 10px;
	gap: 10px;
	border-radius: 12px;
	width: 87.7%;
}

.image-input {
	width: 20px;
	border: 0px;
	position: ;
	top:1px;
}

.input-getdata{
	border: 0px none transparent;
	background: transparent;
	outline: none;
	bottom: 4px;
	padding: 2px;
}

.checkbox-class{
	display: flex;
	gap: 10px;
	align-items: center;
}

.checkbox-class p{
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 600;
	color: #4F4F4F;
}

.checkbox-class input[type="checkbox"]{
	display: flex;
	width: 100%;
	max-width: 21px;
	height: 21px;
	border-radius: 4px;
}

/* country-postal */

.inputs-country-postal{
	display:flex;
	align-content: center;
	border:1px solid #828282;
	padding: 10px;
	gap: 10px;
	border-radius: 12px;
	width: 75%;
}

.country-postal{
	margin-top: 20px;
	gap: 10px;
	display: flex;
	width: 99%;
}

.country-postal label{
	margin-top: 15px;
}


/* country-postal */


/* SUBMIT */

.submit-info{
	width: 90%;
	display: flex;
	text-align: right;
	justify-content: flex-end;
}

.submit-info input {
	background: #F2994A;
	border-radius: 12px;
	border: 0px none transparent;
	color: #f9f9f9;
	padding: 10px 55px;
	font-family: Montserrat;
	font-size: 16px;
}


/* SUBMIT */


/* main2 */

.main2{
	display: flex;
	flex-flow: column wrap;
	background: #F2F2F2;
	border-radius: 12px;
	width: 100%;
	max-width: 325px;
	height: 600px;
	order: 2;
}

.products{
	display: flex;
	flex-flow: row wrap;
	margin: 10px 0px 10px 0px;
}

.products-img{
	display: flex;
	width: 100%;
	max-width: 120px;
	height: 125px;
	margin: 15px;
}

.products-img img{
	width: 100%;
	border-radius: 12px;
}

.products-specification{
}

.products-specification h3{
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #4E5150;
}

.products-pricing{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 10px;
}

.products-pricing p:nth-child(1){
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 600;
	color: #F2994A;
}

.products-pricing p:nth-child(2){
	font-family: Montserrat;
	font-size: 11px;
	font-weight: 600;
	color: #4E5150;

}

.chose-quantity{
	display: flex;
	border: 1px solid #828282;
	border-radius: 12px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.chose-quantity img{
	width: 100%;
	max-width: 20px;
	background: #E0E0E0;
	border-radius: 4px;
	
}

/* main2 */


/* PRICING */

.pricing{
	margin-top: 50px;
	display: flex;
	width: 100%;
	flex-flow: column wrap;
	justify-content: space-between;
}

.pricing-description{
	border-top: 1px solid #BDBDBD;
	margin: 0px 25px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 600;
	color: #333333;
}

/* PRICING */

/* SECOND CHECKOUT */

.second-checkout{
	display: none;
	color: #4E5150;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 600;
}

/* SECOND CHECKOUT */


/* MEDIA */

@media(max-width:805px){
	.main{
		order: 2;
	}
	.main2{
		order: 1;
		margin-top: 20px;
		margin-bottom: 25px;
		width: 100%;
		place-content: center;
	}
	.country-postal{
		flex-flow: column wrap;
	}
	.inputs-country-postal{
		width: 87%;
	}
	.main h1{
		display: none;
	}
	.second-checkout{
		position: absolute;
		display: block;
		left: 40px;
		top: 0;
	}
}


@media(max-width:575px){
	.inputs-container{
		width: 90%;
	}
	.inputs-country-postal{
		width: 90%;
	}
}




/* MEDIA */